<h1 class="otsikko">Reittejä</h1>
<ul class="pysakit">
    <li *ngFor="let dosari of haku" class="pysakki">
        <h1 class="dosariNimi">{{ dosari.name }}</h1>
        <ul class="reitit">
            <li *ngFor="let reitti of dosari.patterns" class="reitti">
                <a [routerLink]="['../map']">
                    <h3>{{ reitti.route.shortName }}</h3>
                    <p [class]="reitti.directionId | direction">{{ reitti.directionId | direction }} </p>
                    <p class="longName">{{ reitti.route.longName | destination }}</p>
                </a>
            </li>
        </ul>
    </li>
</ul>