/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  background-color: #F4F6F6;
  color:#DC7633;
  font-family: 'Comfortaa', cursive;


}

::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: none;
}

.otsikko {
  padding: 1em;
  margin: 0;
}

